body {
  background-color: #f0f8ff;
}
.link-2 {
  color: #228b22;
  padding-left: 50px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}
.link-2:hover,
.link-2:focus {
  background: linear-gradient(120deg, #008080 30%, #40e0d0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 6px 6px 8px #e0ffff;
}
.form-title {
  display: inline-block;
  padding-left: 50px;
  font-size: 62px;
  text-shadow: 6px 6px 8px #e0ffff;
  background-image: linear-gradient(120deg, #228b22 30%, #6495ed);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.feedback-form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
  margin-left: 50px;
}

.label-email {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.email {
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
}

.label-message {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.text {
  display: flex;
  width: 360px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
}

.email:hover,
.email:focus,
.text:hover,
.text:focus {
  border-radius: 4px;
  border: 1px solid #000;
}

.button {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5 em;
  letter-spacing: 0.64px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
}
.button:hover,
.button:focus {
  background: #6c8cff;
}
